TELEGRAM_BOT_TOKEN=8484339544:AAGsqDGu1RYFC6T6DBdbSkF5KUg6r9x-Ya0
GITHUB_TOKEN= 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
REPO_OWNER=afifPathan
REPO_NAME=buyzaar-data
IMGBB_API_KEY=79d70ba486ee2931afb379aff6450788
GROQ_API_KEY=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
