TELEGRAM_BOT_TOKEN=8797575425:AAFLjDXeHgwnKEKocrPvRGldQtNDwCisUzk
GITHUB_TOKEN=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
REPO_OWNER=afifPathan
REPO_NAME=buyzaar-data
IMGBB_API_KEY=d031b87790d1a01748e8ee492065c325
GROQ_API_KEY=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

